<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<div class="main">
    <div class="container">
        <h2><strong><u>Settings</u></strong></h2>
        <h5>Change Password</h5>
        <strong><i><%= wrongPass %></i></strong>
        <form class="form" action="/dash/<%=user._id%>/settings?_method=PUT" method="POST">
            <p>Old Password</p>
            <input type="password" name="passwordOld" placeholder="Old Password">
            <p>New Password</p>
            <input type="password" value="" name="password" placeholder="New Password">
            <p>Confirm New Password</p>
            <input type="password" value="" name="passwordConfirm" placeholder="Confirm Password">
            <button type="submit">Confirm</button>
        </form>
    </div>
</div>
<%- include('../partials/footer') %>
